@inherits Umbraco.Web.Mvc.UmbracoViewPage<EventCalendar.Models.EditEventModel>
@using System.Web.Mvc.Html
@using System.Globalization
@using EventCalendar.Models

<link type="text/css" href="@Url.Content("~/css/EventCalendar/bootstrap.css")" rel="stylesheet" />
<link type="text/css" href="@Url.Content("~/css/EventCalendar/jquery-ui-1.10.2.custom.min.css")" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/EventCalendar/jquery-gmaps-latlon-picker.css")"/>
<script type="text/javascript" src="@Url.Content("~/scripts/EventCalendar/jquery-1.9.1.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/scripts/EventCalendar/jquery-ui-1.10.2.custom.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/scripts/EventCalendar/jquery-ui-timepicker-addon.js")"></script>
<script type="text/javascript" src="@Url.Content("~/scripts/EventCalendar/jquery-ui-sliderAccess.js")"></script>
<script type="text/javascript" src="@Url.Content("~/scripts/EventCalendar/jquery.validate.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/scripts/EventCalendar/jquery.validate.unobtrusive.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/scripts/EventCalendar/bootstrap.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/scripts/EventCalendar/ckeditor/ckeditor.js")"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="@Url.Content("~/scripts/EventCalendar/jquery-gmaps-latlon-picker.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".alert").alert();
        $(".form_datetime1").datetimepicker({ dateFormat: "yy-mm-dd" });
        $(".form_datetime2").datetimepicker({ dateFormat: "yy-mm-dd" });
    });
</script>
<style type="text/css">
    /* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
</style>

<h1>Edit Event</h1>

@if (TempData["StatusEditEvent"] == "Invalid")
{
    <div class="alert alert-error">
        Event couldn't be saved due to errors!
        <a class="close" data-dismiss="alert" href="#">&times;</a>
    </div>
}
@if (TempData["StatusEditEvent"] == "Valid")
{
    <div class="alert alert-success">
        Event saved!
        <a class="close" data-dismiss="alert" href="#">&times;</a>
    </div>
}

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#home" data-toggle="tab">General Settings</a></li>
  @foreach (var lang in Model.Descriptions)
  {
      <li>
        <a href="#@lang.Key" data-toggle="tab">@CultureInfo.GetCultureInfo(lang.Key).DisplayName</a>
      </li>
  }
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="home">
      <form action="~/umbraco/EventCalendar/ECBackendSurface/EditEventForm" enctype="multipart/form-data" method="post" class="form-horizontal">
    <fieldset>
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.calendarId)
        <legend>General properties</legend>
        <div class="control-group">
            @Html.LabelFor(x => x.title, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.title)
            </div>
            @Html.ValidationMessageFor(x => x.title)
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.allday, new { @class = "control-label" })
            <div class="controls">
                @Html.CheckBoxFor(x => x.allday)
            </div>
            @Html.ValidationMessageFor(x => x.allday)
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.start, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.start, new { @readonly = "readonly", size = "16", @class = "form_datetime1" })
            </div>
            @Html.ValidationMessageFor(x => x.start)
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.end, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.end, new { @readonly = "readonly", size = "16", @class = "form_datetime2" })
            </div>
            @Html.ValidationMessageFor(x => x.end)
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.locations, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(x => x.selectedLocation, Model.locations)
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Custom properties</legend>
        @foreach (var member_name in Model.GetDynamicMemberNames())
        {
            <div class="control-group">
                @Html.Label(member_name, new { @class = "control-label" })
                <div class="controls">
                    @{
                        dynamic member = Model.GetMember(member_name);
                        if(member.ValueType == (int)DynamicPropertyValueType.Textstring) {
                            string value = member.Value.ToString();
                            @Html.TextBox(member_name, value)
                        }
                        else if (member.ValueType == (int)DynamicPropertyValueType.Boolean)
                        {
                            bool value = (!String.IsNullOrEmpty(member.Value.ToString())) ? Convert.ToBoolean(member.Value.ToString()) : false;
                            @Html.CheckBox(member_name,value)
                        }
                    }
                </div>
            </div>
        }
    </fieldset>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Save" class="btn btn-primary">
        </div>
    </div>
</form>
  </div>
  @foreach (KeyValuePair<string,EventCalendar.Models.EventDesciption> desc in Model.Descriptions)
  {
      <div class="tab-pane" id="@desc.Key">
        <form action="~/umbraco/EventCalendar/ECBackendSurface/SaveEventDescription" enctype="multipart/form-data" method="post" class="form">
            <input type="hidden" name="eventid" value="@desc.Value.EventId" />
            <input type="hidden" name="id" value="@desc.Value.Id" />
            <input type="hidden" name="culture" value="@desc.Value.CultureCode" />
            <div class="control-group">
                <div class="controls">
                    @Html.TextArea("content", @desc.Value.Content ,new { @class = "ckeditor" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Save" class="btn btn-primary">
                </div>
            </div>
        </form>
      </div>
  }
</div>