@model EventCalendar.Models.EventLocation
@using System.Web.Mvc.Html
@using System.Globalization

@{
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;   
}

<link type="text/css" href="@Url.Content("~/css/EventCalendar/bootstrap.css")" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/EventCalendar/jquery-gmaps-latlon-picker.css")"/>
<script type="text/javascript" src="@Url.Content("~/scripts/EventCalendar/jquery-1.9.1.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/scripts/EventCalendar/bootstrap.min.js")"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="@Url.Content("~/scripts/EventCalendar/jquery-gmaps-latlon-picker.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".alert").alert();
    });
</script>
<style>
    input[type="text"] { height:auto !important; }
</style>

<div class="container">
<div class="row-fluid">
<h1>Edit Location: @Model.LocationName</h1>
</div>
<div class="row-fluid">
@if (TempData["StatusEditLocation"] == "Invalid")
{
    <div class="alert alert-error">
        Location couldn't be saved due to errors!
        <a class="close" data-dismiss="alert" href="#">&times;</a>
    </div>
}
@if (TempData["StatusEditLocation"] == "Valid")
{
    <div class="alert alert-success">
        Location saved!
        <a class="close" data-dismiss="alert" href="#">&times;</a>
    </div>
}
</div>

<form action="~/umbraco/EventCalendar/ECBackendSurface/EditLocation" enctype="multipart/form-data" method="post" class="form-horizontal" id="mainform">
    <fieldset>
    @Html.HiddenFor(x => x.Id)
    <div class="control-group">
        @Html.LabelFor(x => x.LocationName, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(x => x.LocationName)
        </div>
        @Html.ValidationMessageFor(x => x.LocationName)
    </div>
    @*<div class="control-group">
        @Html.LabelFor(x => x.LocationAdress, new { @class = "control-label" })
        <div class="controls">
            @Html.TextAreaFor(x => x.LocationAdress)
        </div>
    </div>*@
    <div class="control-group">
        @Html.LabelFor(x => x.Street, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(x => x.Street)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.ZipCode, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(x => x.ZipCode)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.City, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(x => x.City)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.Country, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(x => x.Country)
        </div>
    </div>
    <div class="control-group">
        <label for="LocationSearch" class="control-label">Location</label>
        <div class="controls">
            <fieldset class="gllpLatlonPicker">
                <legend>Search your location on google maps</legend>
                <input type="text" class="gllpSearchField">
		        <input type="button" class="gllpSearchButton" value="search">
		        <br/><br/>
		        <div class="gllpMap">Google Maps</div>
                @Html.HiddenFor(x => x.lat, new { @class = "gllpLatitude" })
                @Html.HiddenFor(x => x.lon, new { @class = "gllpLongitude" })
		        <input type="hidden" class="gllpZoom" value="12"/>
            </fieldset>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Save" class="btn btn-primary">
        </div>
    </div>
    </fieldset>
</form>
</div>