@model EventCalendar.Models.ECalendar
@using EventCalendar.Models
@using System.Web.Mvc.Html
@using System.Globalization

<link type="text/css" href="@Url.Content("~/css/EventCalendar/bootstrap.css")" rel="stylesheet" />
<link type="text/css" href="@Url.Content("~/css/EventCalendar/colorpicker.css")" rel="stylesheet" />
<style>
    #colorSelector
    {
        position: relative;
        width: 36px;
        height: 36px;
        background: url(/css/EventCalendar/images/select.png);
    }
    #colorSelector div {
        position: absolute;
        top: 3px;
        left: 3px;
        width: 30px;
        height: 30px;
        background: url(../images/select.png) center;
    }
</style>
<script type="text/javascript" src="@Url.Content("~/scripts/EventCalendar/jquery-1.9.1.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/scripts/EventCalendar/bootstrap.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/scripts/EventCalendar/colorpicker.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".alert").alert();
        $('#colorSelector').ColorPicker({
            color: '#0000ff',
            onShow: function (colpkr) {
                $(colpkr).fadeIn(500);
                return false;
            },
            onHide: function (colpkr) {
                $(colpkr).fadeOut(500);
                return false;
            },
            onChange: function (hsb, hex, rgb) {
                $('#color_field').val('#'+hex);
                $('#colorSelector div').css('background-color', '#' + hex);
            }
        });
    });
</script>

<h1>Settings</h1>
<div class="container">
    <div class="row-fluid" id="settings">
        @if (TempData["StatusSettings"] == "Invalid")
        {
            <div class="alert alert-error">
                Settings couldn't be saved due to errors! <a class="close" data-dismiss="alert" href="#">
                    &times;</a>
            </div>
        }
        @if (TempData["StatusSettings"] == "Valid")
        {
            <div class="alert alert-success">
                Settings saved! <a class="close" data-dismiss="alert" href="#">&times;</a>
            </div>
        }
        <form action="~/umbraco/EventCalendar/ECBackendSurface/EditCalendar"
        enctype="multipart/form-data" method="post" class="form-horizontal">
        @Html.HiddenFor(x => x.Id)
        <div class="control-group">
            @Html.LabelFor(x => x.Calendarname, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.Calendarname)
            </div>
            @Html.ValidationMessageFor(x => x.Calendarname)
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.IsGCal, new { @class = "control-label" })
            <div class="controls">
                @Html.CheckBoxFor(x => x.IsGCal)
                @Html.HiddenFor(x => x.IsGCal)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.GCalFeedUrl, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.GCalFeedUrl)
            </div>
            @Html.ValidationMessageFor(x => x.Calendarname)
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.DisplayOnSite, new { @class = "control-label" })
            <div class="controls">
                @Html.CheckBoxFor(x => x.DisplayOnSite)
                @Html.HiddenFor(x => x.DisplayOnSite)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.Color, new { @class = "control-label" })
            <div class="controls">
                @Html.HiddenFor(x => x.Color, new { id = "color_field" })
                <div id="colorSelector"><div style="background-color: @if(String.IsNullOrEmpty(Model.Color)){ <text>#0000ff</text>} else { @Model.Color}"></div></div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Save" class="btn btn-primary">
            </div>
        </div>
        </form>
    </div>
</div>
