@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using EventCalendar
@{
    Layout = "";
    var calendar = EventCalendarApp.GetCalendar(Convert.ToInt32(Model.Content.GetProperty("calendar").Value));
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="@Url.Content("~/css/bootstrap.css")">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
		<link type="text/css" href="@Url.Content("~/css/fullcalendar.css")" rel="stylesheet" />
		<script type="text/javascript" src="@Url.Content("~/scripts/jquery-1.9.1.min.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/scripts/fullcalendar.min.js")"></script>
        @if (calendar.IsGCal)
        {
            <script type="text/javascript" src="@Url.Content("~/scripts/gcal.js")"></script>
        }
		<script type="text/javascript">
			$(document).ready(function () {
				$('#calendar').fullCalendar({
				    events: {
                        @if (calendar.IsGCal)
                        {
                            <text>url: '</text>@calendar.GCalFeedUrl<text>',</text>
                        }
                        else
                        {
						    <text>
                                url: '/umbraco/EventCalendar/ECBackendSurface/GetCalendarEventsAsJson/',
                                type: 'POST',
						        data: {
							        id: '@Model.Content.GetProperty("calendar").Value'
						        },
                            </text>
                        }						
						error: function() {
							alert('There was an error while fetching events!');
						}
					},
                    eventClick: function(event) {
                        if (event.url) {
                            window.open(event.url);
                            return false;
                        } else {
                            window.location.href = '@Model.Content.Down().Url?id='+event.Id;
                            return false;
                        }
                    }
				})
			});
		</script>
	</head>
    <body>
        <div class="container">
		    <div id="calendar"></div>
        </div>
	</body>
</html>